{% extends 'base/base.html' %}
{% block student %}
{% load index %}
<div class="container">
    <h1 class="h2">Today's Exams</h1>
    <div class="card-columns">
        {% if current_exams %}
            {% for cexam in current_exams %}
                <a href="{% url 'take-exam' cexam.pk %}">
                    <div class="card text-white bg-primary mb-3" style="max-width: 15rem;">
                        <div class="card-body">
                            <p class="card-title">Date: {{cexam.start_date | date:"M d, Y" }}</p>
                            <h6 class="card-title">Subject: {{cexam.subject }}</h6>
                            <p class="card-title mb-1">Start Time: {{cexam.start_date | date:"f A" }}</p>
                            <p class="card-title mb-1">End Time: {{cexam.end_date | date:"f A" }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
                No exams today <br>
        {% endif %}
    </div>

    <h1 class="h2 mt-3">Other Exams</h1>
    <div class="card-columns">
        {% for exam in exams %}
        <div class="card text-white bg-primary mb-3" style="max-width: 15rem;">
            <div class="card-body">
                <p class="card-title">Date: {{exam.start_date | date:"M d, Y" }}</p>
                <h6 class="card-title">Subject: {{exam.subject }}</h6>
                <p class="card-title">Start Time: {{exam.start_date | date:"f A" }}</p>
                <p class="card-title mb-1">End Time: {{exam.end_date | date:"f A" }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock student%}
{% block teacher %}

<div class="container">
    <div class="row d-flex justify-content-between alert alert-secondary">
        <div>
            <strong>Student's Results</strong>
        </div>
        <form name="chooseExamForm" action="" method="post">
            <div class="form-group m-0">
                <input class="span2" id="exam" name="exam" type="hidden">
                <select id="selectExam" class="form-select" aria-label="Default select example">
                    <option selected disabled>Choose Exam</option>
                    {% for exam in exams %}
                        <option value="{{exam.pk}}">{{exam.subject}}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
<div id="modalDiv"></div>

{% endblock teacher %}
{% block script %}
<script>
    var showToStudent = function(resultid) {
        console.log($("#showResult").text());
        if ($("#showResult").text() == "Show to Student")
        {
            $.ajax({
                url: "/make_available/"+resultid,
                type: 'post',
                data: {
                    type: 'show',
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data) {
                    console.log(data);
                },
                error:function(){
                        console.log('error')
                    },
            });
            $("#showResult").text("Hide from student");
            $("#showResult").toggleClass("btn-success");
            $("#showResult").toggleClass("btn-info");
        }
        else
        {
            $.ajax({
                url: "/make_available/"+resultid,
                type: 'post',
                data: {
                    type: 'hide',
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data) {
                    console.log(data);
                },
                error:function(){
                        console.log('error')
                },
            });
            $("#showResult").text("Show to Student");
            $("#showResult").toggleClass("btn-success");
            $("#showResult").toggleClass("btn-info");
        }
    };

    $(document).ready(function() {
        var id = $("#selectExam option:eq(1)").val();
        $.ajax({
        url: "/get_results/"+id,
        success: function(data) {
            $("#modalDiv").html(data);
        },
        error:function(){
                console.log('error')
            },
        });
    });
    var modalDiv = document.getElementById("modalDiv");
    document.getElementById("selectExam").onchange = (evt) => {
        var id = evt.srcElement.value;
        $.ajax({
        url: "/get_results/"+id,
        success: function(data) {
            console.log(data);
            $("#modalDiv").html(data);
        },
        error:function(){
                console.log('error')
            },
        });
    }
</script>
{% endblock script %}